extends layout

block content

    h1 Checked Out Books
    p
      a.button(href='new_loan') Create New Loan
    p
      | Filters 
      a(href='all_loans') All
      |  
      a(href='overdue_loans') Overdue
      |  
      a(href='checked_loans') Checked Out
    table
      thead
        form(method="get" action="/checked_loans")
            tr
              th Book
              th Patron 
              th Loaned on
              th Return by 
              th Returned on
              th Action
      tbody
        each returnedBook in returnedBooks
            tr
              td
                a(href='book_detail/' + returnedBook.book.id)= returnedBook.book.title
              td
                a(href='patron_detail/' + returnedBook.patron.id)= returnedBook.patron.first_name
              td= returnedBook.loaned_on
              td= returnedBook.return_by
              td= returnedBook.returned_on
              td
                a.button(href='return_book.html') Return Book