extends layout

block content

    h1 Overdue Loans
    p
      a.button(href='new_loan') Create New Loan
    p
      | Filters 
      a(href='all_loans') All
      |  
      a(href='overdue_loans') Overdue
      |  
      a(href='checked_loans') Checked Out
    table
      thead
        form(method="get" action="/overdue_loans")
            tr
              th Book
              th Patron 
              th Loaned on
              th Return by 
              th Returned on
              th Action
      tbody
        each overdueBook in overdueBooks
            tr
              td
                a(href='book_detail/' + overdueBook.book.id)= overdueBook.book.title
              td
                a(href='patron_detail/' + overdueBook.patron.first_name)= overdueBook.patron.first_name
              td= overdueBook.loaned_on
              td= overdueBook.return_by
              td= overdueBook.returned_on
              td
                a.button(href='return_book') Return Book