extends layout

block content

    h1 Patron: #{loans.patron.first_name}
    p
      strong Book Title: 
      | #{loans.book.title}       
    p
      strong Loaned By: 
      | #{loans.patron.first_name}
    p
      strong Loaned On: 
      | #{loans.loaned_on}
    p
      strong Return By: 
      | #{loans.return_by}
    form(method="post" action="/return_book/" + loans.id)
      p
        label(for='returned_on') Returned on:
        input#returned_on(type='text', name="returned_on" value=time.returned_on required)
      p
        input(type='submit', value='Return Book')